:root {
  /*  color scheme */
  --primary: rgb(255, 251, 243);
  --secondary: rgb(255, 43, 43);
  --alt: rgb(95, 172, 255);
  --light: white;
  --dark: rgb(20, 20, 20);

  /* typography */
  --fs-h1: 3.5rem;
  --fs-h2: 3rem;
  --fs-h3: 2rem;
  --fs-body: 1rem;
}

/* global styles */

* {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 3.5rem;
}

h3 {
  font-size: var(--fs-h3);
  line-height: 2.25rem;
}

p {
  font-size: var(--fs-body);
  line-height: 1.75rem;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

/* nav styles */

nav {
  width: 100%;
  background-color: var(--dark);
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.nav-item {
  margin-left: 2rem;
  color: var(--primary);
  padding-bottom: 0.5rem;
  border-bottom: solid 0.25rem var(--primary);
}

.nav-item:hover {
  padding-bottom: 0.75rem;
  border-bottom: solid 0.25rem var(--secondary);
}

#logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--secondary);
}

.m-nav {
  display: none;
}

.name {
  color: var(--secondary);
  border-bottom: solid 0.25rem var(--alt);
  padding-bottom: 0.5rem;
}

.name .n-span-a {
  color: var(--primary);
  font-size: var(--fs-h3);
}

.name .n-span-b {
  color: var(--primary);
  font-size: var(--fs-h3);
}

.name .n-span-c {
  color: var(--secondary);
  font-size: var(--fs-h3);
}

.m-name {
  display: none;
}

/* header styles */

header {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 360px;
  z-index: -2;
}

.header-container {
  margin: 2rem 0 2rem 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-text {
  background-color: var(--primary);
  padding: 2rem 4rem 2rem 2rem;
  color: var(--dark);
  border-left: solid 0.75rem var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
}

.self-container {
  flex-basis: 20%;
  margin-left: 2rem;
  justify-content: flex-end;
}

.self {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 0.25rem var(--primary);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
}

.self img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* main styles */

main {
  padding-bottom: 2rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-container {
  flex-basis: 75%;
}

.card-container > * {
  flex: 1 1 10em;
  min-width: 45%;
}

.card-container > *:nth-child(1) {
  flex: 1 1 10em;
  min-width: 100%;
}

.flex {
  display: flex;
}

.card {
  position: relative;
  height: 11rem;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border: solid 0.5rem var(--primary);
}

.card:hover {
  transform: scale(102%);
}

.card:nth-child(even) {
  margin-right: 2rem;
}

.card-container .feature-box {
  padding: 0;
  height: 22rem;
}

.project-title {
  position: absolute;
  left: 0;
  bottom: 3rem;
  background-color: var(--primary);
  padding: 1rem;
  border-right: solid 0.5rem var(--secondary);
}

.project-title h3 {
  margin-bottom: 0.5rem;
}

.container {
  background-color: var(--primary);
}

.content-container {
  margin: 2rem;
  justify-content: center;
}

.aside {
  flex-basis: 20%;
  border-right: solid 0.25rem var(--dark);
  margin-right: 2rem;
  justify-content: flex-end;
  padding-right: 2rem;
}

.aside h2 {
  text-align: right;
}

.c-nav {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.c-nav-item {
  color: var(--dark);
  padding-bottom: 0.5rem;
  border-bottom: solid 0.25rem var(--dark);
}

/* MEDIA QUERIES */

/* responsive design cleanup */

@media (max-width: 1190px) {
  .name {
    display: none;
  }

  .m-name {
    display: flex;
  }

  .self-container {
    flex-basis: 20%;
    margin-left: 0rem;
    justify-content: flex-start;
  }

  .break {
    display: none;
  }

  .card-container {
    flex-basis: 100%;
  }

  .card {
    flex-basis: 100%;
    height: 22rem;
  }

  .card:nth-child(even) {
    margin-right: 0;
  }

  .aside {
    flex-basis: 100%;
    border-right: none;
    border-bottom: solid 0.25rem var(--dark);
    margin-bottom: 2rem;
    margin-right: 0;
    padding: 0;
    justify-content: flex-start;
  }
}

@media (max-width: 1020px) {
  header {
    height: 260px;
  }

  .header-container {
    justify-content: center;
    margin: 0;
  }

  .h-text-container {
    display: none;
    width: 100%;
  }
}

/* mobile styles */

@media (max-width: 620px) {
  .nav {
    position: relative;
    padding: 1rem 1.5rem;
  }

  .p-nav-links {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.5);
    height: 5rem;
    width: 100%;
    right: -100%;
    top: 80px;
    padding-top: 2rem;
    pointer-events: none;
    transition-duration: 400ms;
  }

  .m-nav-active {
    right: 0;
    pointer-events: auto;
    transition-duration: 400ms;
  }

  .m-nav {
    display: flex;
    flex-direction: column;
    height: 35px;
    width: 35px;
    justify-content: space-between;
    transform: rotate(0deg);
    transition-duration: 400ms;
  }

  .nav-btn-active {
    transform: rotate(90deg);
    transition-duration: 400ms;
  }

  nav ul li {
    display: flex;
    flex-basis: 25vw;
    justify-content: center;
  }

  .nav-item {
    margin-left: 0;
  }

  .hamburger {
    border-bottom: solid 0.25rem var(--primary);
    cursor: pointer;
  }

  .card,
  .card-container .feature-box {
    height: 11rem;
  }

  .c-nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    height: 100%;
    padding: 0;
  }

  .c-nav li {
    margin-bottom: 2rem;
  }

  .content-container {
    margin: 1.5rem;
  }
}
