:root {
  /*  color scheme */
  --primary: rgb(255, 251, 243);
  --secondary: rgb(255, 43, 43);
  --light: white;
  --dark: rgb(20, 20, 20);

  /* typography */
  --fs-h1: 3.5rem;
  --fs-h2: 3rem;
  --fs-h3: 2rem;
  --fs-body: 1rem;
}

/* global styles */

* {
  font-size: 16px;
}

h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-h2);
  line-height: 3.5rem;
}

h3 {
  font-size: var(--fs-h3);
  line-height: 2.25rem;
}

p {
  font-size: var(--fs-body);
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

main {

  width: 100%;
  height: 100vh;

}

nav {
  width: 100%;
  background-color: var(--dark);
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  
}

.nav-item {
  margin-left: 2rem;
  color: var(--primary);
  padding-bottom: .5rem;
  border-bottom: solid .25rem var(--primary);
}

.nav-item:hover {
    padding-bottom: .75rem;
    border-bottom: solid .25rem var(--secondary);
}

#logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--secondary);
}

header {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  height: 360px;
}

.hero-text {
  position: absolute;
  right: 0;
  top: 30%;
  background-color: var(--primary);
  padding: 2rem 4rem 2rem 2rem;
  color: var(--dark);
  border-left: solid 0.75rem var(--secondary);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-container {
  flex-basis: 75%;
}

.card-container > * {
  flex: 1 1 10em;
  min-width: 45%;
}

.card-container > *:nth-child(1) {
  flex: 1 1 10em;
  min-width: 100%;
}

.flex {
  display: flex;
}

.card {
  position: relative;
  height: 11rem;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 5px 5px;
}



.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border: solid .5rem var(--primary);
}

.card:hover {
    transform: scale(102%);
}

.card:nth-child(even) {
  margin-right: 2rem;
}

.card-container .feature-box {
  padding: 0;
  height: 22rem;
}

.project-title {
  position: absolute;
  left: 0;
  bottom: 3rem;
  background-color: var(--primary);
  padding: 1rem;
  border-right: solid .5rem var(--secondary);
}

.container {
  background-color: var(--primary);
}

.content-container {
  margin: 2rem;
  justify-content: center;
}

.aside {
  /* background-color: var(--dark); */
  flex-basis: 20%;
  border-right: solid 0.25rem var(--dark);
  margin-right: 2rem;
  justify-content: flex-end;
  padding-right: 2rem;
}

.aside h2 {
  text-align: right;
}

.c-nav {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem
}

.c-nav-item {
    color: var(--dark);
    padding-bottom: .5rem;
    border-bottom: solid .25rem var(--dark);
}
