:root {
    --primary: rgb(255, 240, 215);
    --secondary: rgb(255, 43, 43);
    --light: white;
    --dark: black;
}

* {
    font-size: 16px;
}

a {
    text-decoration: none;
}

main {
  width: 100vw;
  height: 100vh;
}

nav {
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
    color: var(--dark);
}

#logo {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--secondary);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-container {
  flex-basis: 75%;
}

.card-container > * {
  flex: 1 1 10em;
  min-width: 50%;
}

.card-container > *:nth-child(-n+2) {
  flex: 1 1 10em;
  min-width: 100%;
}

.flex {
  display: flex;
}

.card {
  background-color: var(--secondary);
}

.container {
  background-color: var(--primary);
}

.aside {
  background-color: var(--dark);
  flex-basis: 25%;
}
